.startaproject{
text-align: center;            
}

.startaproject .startaprojectTitle{
font-size: 1.5em; 
font-weight:900; 
    padding-bottom: 50px;
}
.startaproject .startaprojectTitle span{
    display:block;
}
.startaproject .phone{
    text-align: left;
    padding-bottom: 50px;
    font-size: 1.2em;
    
    color: #111 !important;
    

}
.startaproject .phone span{
    text-align: left;
    padding-top: 30px;
    font-size: 1.5em;
    display: block;
     font-family: 'Anton', sans-serif;
 
}

.startaproject .email{
    text-align: right;
    padding-bottom: 50px;
    font-size: 1.2em;
    color: #111 !important;
}
.startaproject .email span{
    text-align: right;
    padding-top: 30px;
    font-size: 1.5em;
    display: block;
     font-family: 'Anton', sans-serif;

}


.startaproject .btn{
    background: #98cb2b;

    margin: 0px 0px 30px 0;
    text-align: center;
    border: 1x solid #111;
    color: #111;
}

.startaproject .btn:hover{
    background: #7ead1a;
    color:#FFF;

}


.startaproject p{
    
   color:#3a3a3a;
    margin: 0px 0px 5px 0;
    font-size: 1em;
    text-transform: lowercase;
}


.sratrProjectFrom {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.sratrProjectFrom a {

    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;

}

.sratrProjectFrom a:hover, .offcanvas a:focus{
    color: #f04d23;
}

.sratrProjectFrom .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.search-container {
    box-sizing: border-box;

    z-index: 999;
    display: block;

    margin-right: 5px;
    padding-top: 21px;
}

input.contactfrom {
    width: 100%;
    height: 50px;
    color: #545b67;
    border: none;
    border-bottom: 1px solid #111;
    background: none;
    padding: 0 20px;
    margin-top: px;
    font-size: .87em;

    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

textarea.contactfrom {
    width: 100%;
    height: 150px;
    color: #545b67;
    border: none;
    border-bottom: 1px solid #111;
    background: none;
    padding: 0 20px;
    margin-top: px;
    font-size: .87em;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}


input.contactfrom:focus,textarea.contactfrom:focus,select.contactfrom:focus {
    color: #111;
     border: none;
    border-bottom: 2px solid #111;
    
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input.contactbtn[type="submit"],input.contactbtn[type="button"] {
    box-sizing: border-box;
    width: 27.8%;
    padding: 12px 8px;
    text-transform: uppercase;
    color: #ccc;
    display: inline-block;
    background: #db0011;
    border: none;
}
input[type="submit"]:hover,input[type="button"]:hover {
    background: #ddd;
    color: #111;
    cursor: pointer;
}

.panel1 {
		height: 100%;
		width: 100%;
	
}       
        
.biography {
    text-align: center;
    width: 100%;
    height: 100% !important;
    display: block;
    clear: both;
    z-index: 0;
    top: 0;
   /* background: #db0011;*/

}
      
                
.about {
    text-align: center;
    width: 100%;
    height: 100% !important;
    display: block;
    clear: both;
    z-index: 1;
    top: 0;
    background: #db0011;

}
     
.whatIDo{

    background: #E4F1FE;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    clear: both;
    z-index: 1;

  
} 
    
    .child {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    transform: translate(-0%, -50%);
}
.tests{

        height: auto;
        display: inline-block;
        margin: 0;
        padding: 0px;
        
    }
        
          .contentSlide01{
        
        bottom:-20px;
        width: 100% !important;
        height: auto;
        margin: 0 auto;
   
        position: absolute;
  
    }

 .whatdoicon{
    width: 50%;
}

.hideele{
display: none;
}
    
    
    .lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
    
 .noMP{
   
margin: 0 !important;
padding: 0px !important;
overflow: hidden !important;   
    
}
   
   .lodar-col{
        height: 100%;
        width: 100%;
        display: block;
        overflow: hidden;
        background: #111;
        z-index: 999;
    }
    
    #googleMap{
        width: 100%;
        height: 400px;
}

#portfolios { 



}
.tile {     
    float: left;
   width: 33.3333%;
    box-sizing: border-box;

   
}
.tile:hover { 

}

.scale-anm {
  transform: scale(1);

}



.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;

  
}

.btns{
    width: 16.6666%;
    height: 80px;
    margin: 0 !important;
    padding: 0px!important;
     background: #98cb2b;
    display: inline-block;
    border-left: 1px solid #7ead1a;
    text-align: center;
    color:#FFFFFF;
    cursor: pointer;
    font-size: .86em
}

@media (max-width: 480px)  {
 .btns{
     height: 30px;
   

    color:#98cb2b;

}
}

.btns:hover{
 
     background: #7ead1a;
    

}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background:rgba(0,0,0,.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
    display: block !important;
}

.tile:hover .overlay {
  bottom: 0;
  height: 100%;
}

.gallerytext {
  white-space: nowrap; 

  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    display: block !important;
}

.gallerytext h1{
  white-space: nowrap; 
  color: white;
  font-size: 1em;
    text-align: center;
       margin-top: 90px;
 
}

.gallerytext p{
  white-space: nowrap; 
  color: white;
  font-size: .867em;
    text-align: center;
    width: 100%;
    display: block;


 
}

.gallerytext img{

 cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    width: 33px;
    text-align: center;
 
}

@media (max-width: 768px) and (min-width: 481px) {
    .tile {  
       float: left;
   width: 50% !important;
    box-sizing: border-box;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .tile {  
        float: left;
   width: 100% !important;
    box-sizing: border-box;
    }
}

.toolbar{
    display: block;
    
}

.shi > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

.shi > li {
    float: left;
}

.shi > li a {

}

.shi > li a:hover:not(.active) {
    background-color: #111;
}

.shi > .active {
    background-color: #4CAF50;
    
    
    
}

.bredious{
      border-radius: 50px !important;
}
.noMerginPadding{
    float: left;
    margin: 0;
    padding: 0px;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;

    
}

.form-group {
    margin-bottom: 15px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}



